<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myssjdbc.dao.OrderGoodsDetailMapper">
  <resultMap id="BaseResultMap" type="com.example.myssjdbc.entity.OrderGoodsDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="snapshot_real_payment" jdbcType="DECIMAL" property="snapshotRealPayment" />
    <result column="snapshot_price" jdbcType="DECIMAL" property="snapshotPrice" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_goods_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.myssjdbc.entity.OrderGoodsDetail">
    insert into order_goods_detail (id, order_id, goods_id, 
      snapshot_real_payment, snapshot_price)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{snapshotRealPayment,jdbcType=DECIMAL}, #{snapshotPrice,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.myssjdbc.entity.OrderGoodsDetail">
    update order_goods_detail
    set order_id = #{orderId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      snapshot_real_payment = #{snapshotRealPayment,jdbcType=DECIMAL},
      snapshot_price = #{snapshotPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, order_id, goods_id, snapshot_real_payment, snapshot_price
    from order_goods_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, goods_id, snapshot_real_payment, snapshot_price
    from order_goods_detail
  </select>
</mapper>