<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tradeasseta.dao.UserAssetMapper">
  <resultMap id="BaseResultMap" type="com.example.tradeasseta.entity.UserAsset">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="asset_cny" jdbcType="BIGINT" property="assetCny" />
    <result column="asset_us" jdbcType="BIGINT" property="assetUs" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_asset
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.tradeasseta.entity.UserAsset">
    insert into user_asset (id, `name`, asset_cny, 
      asset_us)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{assetCny,jdbcType=BIGINT}, 
      #{assetUs,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.tradeasseta.entity.UserAsset">
    update user_asset
    set `name` = #{name,jdbcType=VARCHAR},
      asset_cny = #{assetCny,jdbcType=BIGINT},
      asset_us = #{assetUs,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, `name`, asset_cny, asset_us
    from user_asset
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, asset_cny, asset_us
    from user_asset
  </select>
  <select id="findByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, `name`, asset_cny, asset_us
    from user_asset
    where name = #{name,jdbcType=VARCHAR}
  </select>
</mapper>